*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: 'Roboto'
}

.card-header-spotlight h2 span, .left-side h2 span{
    font-weight: 400;
    font-size: 2rem;
}

.text-container h3 span{
    font-weight: bolder;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    font-family: CeraProLight;
    text-decoration: none;
    color: black;
}

.text-container span{
    color: black;
}

.card-content{
    text-decoration: none;
    color: black;
}

/*****************Varible****************/

:root{
    --span-font-size:0.8rem;

    --p-font-size: 0.7rem;
    --h2-font-size: 5rem;

    --margin-right: 1rem;
    --margin-bottom: 1rem;

    --section-margin: 1rem auto;
    --section-padding: 2.5rem 1.25rem;

}

/**************container**************/

.home-page-container{
    width: 90vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

/************* Keep-in-touch ***************/

.keep-in-touch-container{
    display: flex;
    justify-content: center;
    padding: var(--section-padding);
    margin: var(--section-margin);
    background-color: whitesmoke;
    width: fit-content;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
}

.shop-fill{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10%;
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    text-decoration: none;
}
.shop-fill i{
    font-weight: normal;
}
.shop-fill:hover{
    color: white;
}


/************* Spotlight On ***************/

#spotlight-on{
    margin: var(--section-margin);
    padding: var(--section-padding);
    display: flex;
    justify-content: center;
}

.card-header-spotlight{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: var(--margin-bottom);
    background-color: white;
    border-bottom: none;
}

.card-container{
    display: flex;
}

.card-1,.card-2{
    margin-right: var(--margin-right);
    margin-bottom: var(--margin-bottom);
}

.image-container{
    position: relative;
}

/* /////////////////////////////////////////////// */
.main-image img{
    width:300px;
    height: 300px;
}

.nested-image img{
    bottom: 0.5rem;
    right: 0.5rem;
    position: absolute;
    width: 5rem;
    height: 5rem;
    z-index: 1;
    object-fit: contain;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr;
    text-align: center;
    padding-top: 1rem;
    font-size: 1rem;
}


.shop i{
    font-weight: normal;
}

.shop:hover{
    text-decoration: underline;
}

/************* Media Quary ***************/

@media only screen and (max-width: 600px) {

    .keep-in-touch-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .keep-in-touch-container img{
        width:100vw
    }
    .keep-in-touch-container .left-side{
        margin-left: 0;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
    }
}


