/* .button, button:focus{
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}

button:active{
  outline: none;
  background: transparent;
  border: 1px solid grey;
} */

.account-body {
  width: 100vw;
  height: 100vh;
  background-color: #f2f5f7;
}

.account-border {
  border: 5px solid white;
}

.hover-btn:hover {
  color: blue;
}

button {
  border: none;
  background-color: transparent;
}

.Logo-img-account {
  margin-top: 3vh;
  margin-left: 10vh;
}

.closing-btn {
  float: right;
  padding: 2.7vh;
  color: black;
}

.back-arrow {
  float: left;
  padding: 2.7vh;
  color: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 1px 3px 1px #ccc;
  border-radius: 50%;
  border: 4px solid #fff;
  background: linear-gradient(0deg, #fff, #abbaab);
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.7vw;
  font-weight: 800;
  color: black;
}

.box-styling {
  margin-top: 16px;
  color: #333;
  border: 2px solid #c9c9c9;
  border-radius: 8px;
  background-color: #fff;
}

.redirect-btn {
  float: right;
}

.birthDateLabel {
  margin-bottom: 2vh;
}
